<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Ningali_Asta pendeteksi bahasa isyarat</title>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <div class="logo-container">
        <img class="logo-img" src="/static/img/hand@3x.png" />
        <span class="logo-title">Ninggali Asta</span>
      </div>
      <div class="nav-right">
        <a href="/">Home</a>
        <a href="/detection">Detection</a>
        <a href="/alphabet">Alphabet</a>
        <a href="/about" class="active">About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

    <div class="responsive-background">
      <div style="padding-left: 16px">
        <center>
          <h2>Ningali Asta</h2>
          <p>
            Create by : Ekhsan Nur Qolis
          </p>
        </center>
      </div>
    </div>

    <footer>
      <p>&copy; 2024 Pendeteksi Bahasa Isyarat.</p>
    </footer>
    <script src="/static/js/script.js"></script>
  </body>
</html>
