<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Ningali_Asta pendeteksi bahasa isyarat</title>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <div class="logo-container">
        <img class="logo-img" src="/static/img/hand@3x.png" />
        <span class="logo-title">Ninggali Asta</span>
      </div>
      <div class="nav-right">
        <a href="/">Home</a>
        <a href="/detection">Detection</a>
        <a href="/alphabet" class="active">Alphabet</a>
        <a href="/about">About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

    <div class="outer-box">
      <h1 class="title">Alphabet</h1>
    </div>

    <article
      class="outer-box"
      style="background: linear-gradient(to bottom, #fff, #0cba00 40%)"
    >
      <div class="container">
        <div class="inner-box">
          <img src="/static/label_model/A .jpg" alt="A" class="image" />
          <center>
            <b class="caption">A</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/B .jpg" alt="B" class="image" />
          <center>
            <b class="caption">B</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/C .jpg" alt="C" class="image" />
          <center>
            <b class="caption">C</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/D .jpg" alt="D" class="image" />
          <center>
            <b class="caption">D</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/E .jpg" alt="E" class="image" />
          <center>
            <b class="caption">E</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/F (3).jpg" alt="F" class="image" />
          <center>
            <b class="caption">F</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/G (3).jpg" alt="G" class="image" />
          <center>
            <b class="caption">G</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/H (4).jpg" alt="H" class="image" />
          <center>
            <b class="caption">H</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/I (1).jpg" alt="I" class="image" />
          <center>
            <b class="caption">I</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/J (3).jpg" alt="J" class="image" />
          <center>
            <b class="caption">J</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/K (3).jpg" alt="K" class="image" />
          <center>
            <b class="caption">K</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/L (3).jpg" alt="L" class="image" />
          <center>
            <b class="caption">L</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/M (3).jpg" alt="M" class="image" />
          <center>
            <b class="caption">M</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/N (4).jpg" alt="N" class="image" />
          <center>
            <b class="caption">N</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/O (4).jpg" alt="O" class="image" />
          <center>
            <b class="caption">O</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/P (4).jpg" alt="P" class="image" />
          <center>
            <b class="caption">P</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/Q (4).jpg" alt="Q" class="image" />
          <center>
            <b class="caption">Q</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/R (5).jpg" alt="R" class="image" />
          <center>
            <b class="caption">R</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/S (3).jpg" alt="S" class="image" />
          <center>
            <b class="caption">S</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/T (3).jpg" alt="T" class="image" />
          <center>
            <b class="caption">T</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/U (3).jpg" alt="U" class="image" />
          <center>
            <b class="caption">U</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/V (3).jpg" alt="V" class="image" />
          <center>
            <b class="caption">V</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/W (3).jpg" alt="W" class="image" />
          <center>
            <b class="caption">W</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/X (3).jpg" alt="X" class="image" />
          <center>
            <b class="caption">X</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/Y (3).jpg" alt="Y" class="image" />
          <center>
            <b class="caption">Y</b>
          </center>
        </div>

        <div class="inner-box">
          <img src="/static/label_model/Z (4).jpg" alt="Z" class="image" />
          <center>
            <b class="caption">Z</b>
          </center>
        </div>
      </div>
    </article>

    <footer>
      <p>&copy; 2024 Pendeteksi Bahasa Isyarat.</p>
    </footer>
    <script src="/static/js/script.js"></script>
  </body>
</html>
